<ion-content tappable padding>
  <div class="question-container">
    <form>
  <!-- <h3 align=center *ngFor="let question of questions">{{ questions.question }}</h3> -->
  <div class="btn blue">Space for audio</div>
  <!-- The activeQuestion outside the tag is making it work! -->
  <br>
  <input class="radio blue" type="radio" value="o1" name="ansradio"> {{activeQuestion.o1}} <br>
  <input class="radio" type="radio" value="o2" name="ansradio"> {{activeQuestion.o2}} <br>
  <input class="radio" type="radio" value="o3" name="ansradio"> {{activeQuestion.o3}} <br>
  <input class="blue" type="radio" value="o4" name="ansradio"> Balle Balle <br>
  <center><a class="btn blue" (click)="setQuestion()">NEXT</a></center>
  <!-- <br><button (click)="setQuestion()">Next!</button> -->
</form>
  </div>
</ion-content>
